@layer utilities {
  .container-type-size {
    container-type: size;
  }

  .container-type-inline-size {
    container-type: inline-size;
  }

  .container-type-normal {
    container-type: normal;
  }
}
